/* COLORS */

.page-01 {
    background: #FF5154;
}

.page-02 {
    background: #f68900;
}

.page-03 {
    background: #FAB500;
}

a.page-03 {
    background: #FFCE00;
}

.page-04 {
    background: #2fa068;
}

.page-05 {
    background: #4EB91A;
}

.page-06 {
    background: #0096DC;
}

.page-07 {
    background: #2C63D3;
}

.page-08 {
    background: #654CE3;
}

.page-09 {
    background: #C38500;
}

/* TOOLTIPS */

.page-01.select:before,
.page-02.select:before,
.page-03.select:before,
.page-04.select:before,
.page-05.select:before,
.page-06.select:before,
.page-07.select:before,
.page-08.select:before,
.page-09.select:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
}

.page-01.select:after,
.page-02.select:after,
.page-03.select:after,
.page-04.select:after,
.page-05.select:after,
.page-06.select:after,
.page-07.select:after,
.page-08.select:after,
.page-09.select:after {
    position: absolute;
    padding: 5px 5px 4px;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    border-radius: 5px;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.page-01.select:after {
    content: "Descarga";
}

.page-02.select:after {
    content: "Niveles Mundiales";
}

.page-04.select:after {
    content: "Creadores";
}

.page-05.select:after {
    content: "Sobre SMM: WE";
}

.page-06.select:after {
    content: "Discord";
}

.page-07.select:after {
    content: "GitHub";
}

.page-08.select:after {
    content: "Placeholder";
}

.page-09.select:after {
    content: "Placeholder";
}

/* BACKGROUND */

.block {
    width: 100%;
    height: 65px;
}

.block.page-00 {
    background: #ffd100 url(../img/img_page_00_block.gif) repeat top;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

    div[class^="bg"] {
        width: 90%;
        max-width: 695px;
    }

    .page-top[class^="page-"] {
        background-size: contain;
    }
}

@media screen and (max-width: 480px) {

    div[class^="bg"] {
        width: 95%;
    }

    .page-02.select:after {
        left: auto;
        right: 0;
    }

    .page-03.select:after {
        left: 0;
    }
}