@charset "utf-8";

html {
	font-size: 16px;
	height: 100%;
}
body {
	height: 100%;
	margin: 0 auto;
	background-color: #eee;
	line-height: 1.6;
	color: #424242;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
a {
	text-decoration: none;
}
/* reset
-----------------------------------------------------*/
div, th, td, p, ul, ol, dl, dt, dd, img, form, h1, h2, h3, h4, h5, h6, article, aside, figure, footer, header, hgroup, menu, nav, section, span {
	margin: 0;
	padding: 0;
	word-break: normal;
}
article, aside, figure, figcaption, footer, header, hgroup, menu, nav, section {
	display: block;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: bold;
	clear: both;
}
p {
	margin: 0;
	padding: 0;
}
th, td {
	text-align: left;
}
ul, ol {
	list-style-type: none;
}
img {
	border: 0;
	vertical-align: top;
}
address {
	font-style: normal;
}

/* header */
.header {
	height: 50px;
	width: 100%;
	background: #fff;
	overflow: hidden;
}
.header img.nintendo {
	float: left;
	width: 80px;
	height: 20px;
	padding: 15px;
}
.header img.wiiu {
	float: right;
	width: 110px;
	height: 30px;
	padding: 10px;
}

.footer-link {	
	width: 100%;
	min-height: 115px;
	height: auto;
	padding: 10px 0;
	text-align: center;
	background-color: rgba(0,0,0,.7);
	font-size: 12px;
}
.footer-link.tmp{
	margin-top: 30px;
	background-color: #98adb4;
    position:absolute;
    bottom: 0px;
}
.footer-icon {
	margin: 5px 0;
}
.footer-icon div{
	display: inline-block;
	margin-bottom: 5px;
}
.footer-icon+span a,.site-link a {
	margin-top: 12px;
	display: inline-block;
    padding: 0 5px;
    color: #ddd;
}
.footer-icon a, .pickup {
	position: relative;
	display: inline-block;
	border-radius: 50%;
	padding: 0;
    width: 44px;
    height: 44px;
	vertical-align: middle;
}
.footer-link .link-icon{
	position: absolute;
	top: 6px;
	left: 6px;
	width: 32px;
	height: 32px;
}
.footer .link-icon.here,.select .link-icon{
	top: 3px;
	left: 3px;
    width: 38px;
    height: 38px;
}
.site-link a:first-child{
	border-right: 1px solid #ddd;
	padding-right: 10px;
}
.site-link a{
	margin-top: 8px;
	padding: 0 5px; 
}

.anchor-point{
	margin-top: -10px;
    padding-top: 10px;
}
.btnicon{
	display: inline-block;
	height: 18px;
	width: 18px;
	vertical-align: middle;
}
.btnicon.plus{
	background: url(../img/btn/btn_plus_w.svg) no-repeat;
}
.btnicon.minus{
	background: url(../img/btn/btn_minus_w.svg) no-repeat;
}
.btnicon.Lbtn{
	background: url(../img/btn/btn_L_w.svg) no-repeat;
}
.btnicon.ZLbtn{
	background: url(../img/btn/btn_ZL_w.svg) no-repeat;
}
.btnicon.Rbtn{
	background: url(../img/btn/btn_R_w.svg) no-repeat;
}
.btnicon.ZRbtn{
	background: url(../img/btn/btn_ZR_w.svg) no-repeat;
}

@media screen and (max-width: 768px) {
.btnicon.plus{ background: url(../img/btn/btn_plus.svg) no-repeat;}
.btnicon.minus{ background: url(../img/btn/btn_minus.svg) no-repeat;}
.btnicon.Lbtn{ background: url(../img/btn/btn_L.svg) no-repeat;}
.btnicon.ZLbtn{ background: url(../img/btn/btn_ZL.svg) no-repeat;}
.btnicon.Rbtn{ background: url(../img/btn/btn_R.svg) no-repeat;}
.btnicon.ZRbtn{ background: url(../img/btn/btn_ZR.svg) no-repeat;}
.no-inlinesvg .btnicon.plus{
	background: url(../img/btn/btn_plus.png) no-repeat;
	background-size: 18px 18px;
	}
.no-inlinesvg .btnicon.minus{
	background: url(../img/btn/btn_minus.png) no-repeat;
	background-size: 18px 18px;
	}
.no-inlinesvg .btnicon.Lbtn{
	background: url(../img/btn/btn_L.png) no-repeat;
	background-size: 18px 18px;
	}
.no-inlinesvg .btnicon.ZLbtn{
	background: url(../img/btn/btn_ZL.png) no-repeat;
	background-size: 18px 18px;
	}
.no-inlinesvg .btnicon.Rbtn{
	background: url(../img/btn/btn_R.png) no-repeat;
	background-size: 18px 18px;
	}
.no-inlinesvg .btnicon.ZRbtn{
	background: url(../img/btn/btn_ZR.png) no-repeat;
	background-size: 18px 18px;
}
}

@media screen and (max-width: 480px) {
.header img.nintendo {
	width: 60px;
	height: 15px;
	padding: 18px;
}
.header img.wiiu {
	float: right;
	width: 54px;
	height: 16px;
	padding: 17px;
}
}