/* BODY */

html,
body {
    height: 100%;
    margin: 0 auto;
    line-height: 1.6;
}

/* TEXT */

a {
    text-decoration: none;
}

div,
th,
td,
p,
ul,
ol,
dl,
dt,
dd,
img,
form,
h1,
h2,
h3,
h4,
h5,
h6,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
span {
    margin: 0;
    padding: 0;
}

/* DECO */

img {
    vertical-align: top;
}

/* FOOTER */

.footer-link {
    min-height: 115px;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
}

.footer-icon {
    margin: 5px 0;
}

.footer-icon div {
    display: inline-block;
    margin-bottom: 5px;
}

.footer-icon+span a,
.site-link a {
    margin-top: 12px;
    display: inline-block;
    padding: 0 5px;
    color: #ddd;
}

.footer-icon a,
.pickup {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    vertical-align: middle;
}

.footer-link .link-icon {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 32px;
    height: 32px;
}

.footer .link-icon.here,
.select .link-icon {
    top: 3px;
    left: 3px;
    width: 38px;
    height: 38px;
}

.site-link a {
    margin-top: 8px;
    padding: 0 5px;
}

.site-link a:first-child {
    border-right: 1px solid #ddd;
    padding-right: 10px;
}